<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="/assets/css/pages/index.css">
  </head>
  <body>
    <h1 class="pf-c-title">{{ title }}</h1>
  </body>
  <link type="font/woff" href="/dist/node_modules/@patternfly/patternfly/assets/fonts/RedHatText/RedHatText-Regular.woff">
  <link type="text/css" href="/dist/node_modules/@patternfly/patternfly/patternfly.min.css">
  <script async src="/assets/js/all.js"></script>
</html>
