<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Title -->
    <title>Products</title>
    <!-- Assets: CSS (top) -->
    <link rel="stylesheet" type="text/css" href="/node_modules/@patternfly/patternfly/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/starryeyez024/patternfly-theme/prerelease-1.0/dist/advanced-theme.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/@patternfly/pfe-styles/dist/pfe-base.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/@patternfly/pfe-styles/dist/pfe-context.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/@patternfly/pfe-styles/dist/pfe-layouts.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pages/index.css">
    <!-- Assets: JS (top) -->
    <script type="module" src="/node_modules/@patternfly/pfe-band/dist/pfe-band.min.js"></script>
    <script type="module" src="/node_modules/@patternfly/pfe-card/dist/pfe-card.min.js"></script>
    <script type="module" src="/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
    <script type="module" src="/node_modules/@patternfly/pfe-navigation/dist/pfe-navigation.min.js"></script>
    <style>
      :root [priority="tertiary"] {
        --pfe-cta--Padding: 0
      }
    </style>
  </head>
  <body>
    {% include './helpers/_topnav.twig' %}
    <pfe-band color="lightest">
      <header slot="pfe-band--header">
        <h1 class="pf-c-title pf-m-4xl" style="margin-bottom: 2rem">Free Red Hat product downloads for developers</h1>
      </header>
      <article>
        <h2 class="pf-c-title pf-m-2xl" style="margin-bottom: 2.5rem">Red Hat Developer program member benefits</h2>
        <ul style="margin-bottom: 2rem">
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="fas fa-book-open" style="color: #27579A; margin-right: 8px;">&nbsp;</i> Read blogs, articles, ebooks, cheatsheets and more</li>
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="fas fa-key" style="color: #CCBB56; margin-right: 8px;">&nbsp;</i> Gain access to the Red Hat Customer Portal</li>
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="fas fa-laptop-code" style="color: #689B7A; margin-right: 8px;">&nbsp;</i> Try the technologies through hands-on tutorials</li>
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="fas fa-video" style="color: #2E2E2E; margin-right: 8px;">&nbsp;</i> Watch videos, presentation, and demos</li>
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="fas fa-calendar-check" style="color: #27579A; margin-right: 8px;">&nbsp;</i> Attend live and in-person events</li>
          <li style="margin-bottom: 1rem; font-size: 1.1rem;"><i aria-hidden="true" class="pf-icon pf-icon-openshift" style="color: #EE0000; margin-right: 8px;">&nbsp;</i> Get free access to the Developer Sandbox for Red Hat OpenShift</li>
        </ul>
        <pfe-cta priority="primary" slot="pfe-band--footer">
          <a href="#" style="font-size: 1.1rem; font-weight: 700;">Get started</a>
        </pfe-cta>
      </article>
      <pfe-card color="base" slot="pfe-band--aside">
        <h3 slot="pfe-card--header">
          <span style="font-family: RedHatDisplay"><strong>Red Hat</strong><br>
          OpenShift<br>
          Developer Sandbox <span class="pf-c-label pf-m-orange"><span class="pf-c-label__content">Beta</span></span></span>
        </h3>
        <ul style="margin-bottom: 1rem">
          <li style="margin-bottom: 0.8rem; font-size: 1rem;"><i class="fas fa-check" style="color: #689B7A;"></i> No hassle</li>
          <li style="margin-bottom: 0.8rem; font-size: 1rem;"><i class="fas fa-check" style="color: #689B7A;"></i> No installations</li>
          <li style="margin-bottom: 0.8rem; font-size: 1rem;"><i class="fas fa-people-carry" style="color: #C8883F;"></i> Set up a cloud IDE for your entire team</li>
          <li style="margin-bottom: 0.8rem; font-size: 1rem;"><i class="fas fa-parachute-box" style="color: #27579A;"></i> Deploy your application code as a container</li>
        </ul>
        <pfe-cta slot="pfe-card--footer" priority="tertiary">
          <a href="#" style="font-size: 1.1rem; font-weight: 700;">Learn more <i class="fas fa-arrow-right"></i></a>
        </pfe-cta>
      </pfe-card>
    </pfe-band>

    <pfe-band color="lighter">
      <header slot="pfe-band--header">
        <p class="custom-band-summary">Header region, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
          ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      </header>
      <article>
        {% include './helpers/_product-cards--title.twig' %}
      </article>
    </pfe-band>

    <pfe-band color="lightest">
      <header slot="pfe-band--header">
        <h2 class="pf-c-title pf-m-2xl" style="margin-bottom: 1rem">Ready for production?</h2>
      </header>
      <article>
        <p style="font-size: 1.1rem; margin-bottom: 1rem">See how Red Hat gives you the guidance, stability, and security you need to deploy enterprise software without
          the headache.</p>
      </article>
      <pfe-cta priority="primary" slot="pfe-band--footer">
        <a href="#" style="font-size: 1.1rem; font-weight: 700;">Learn more about subscriptions</a>
      </pfe-cta>
    </pfe-band>

    <!-- Assets (bottom) -->
    <link type="font/woff" href="/dist/node_modules/@patternfly/patternfly/assets/fonts/RedHatText/RedHatText-Regular.woff">
    <link type="text/css" href="/dist/node_modules/@patternfly/patternfly/patternfly.min.css">
    <script async src="/assets/js/all.js"></script>
  </body>
</html>
