<div class="pf-l-grid pf-m-all-12-col-on-sm pf-m-all-4-col-on-md pf-m-all-3-col-on-lg">
  {% include '_product-card--title.twig' with {
    'title': '.NET',
  } %}
  {% include '_product-card--title.twig' with {
    'title': 'Compilers: Clang/LLVM, Go, Rust',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>3scale API Management',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>AMQ',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>CodeReady<br>Containers',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>CodeReady<br>Studio',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>CodeReady<br>Workspaces',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Container Development Kit',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Datagrid',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Decision Manager',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Fuse',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>IDE Extensions for OpenShift',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>JBoss Data Virtualization',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>JBoss Enterprise Application Platform',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>JBoss Web Server',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Application Migration Toolkit',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>odo',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>OpenJDK',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>OpenShift Application Runtimes',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Process Automation Manager',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Ansible Automation Platform',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>build of Quarkus',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Developer Toolset',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Enterprise Linux',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Enterprise Linux for SAP Solutions',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>OpenShift',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>OpenShift Cloud Functions',
  } %}
  {% include '_product-card--title.twig' with {
    'title': '<strong>Red Hat</strong><br>Software Collections',
  } %}
  {% include '_product-card--title.twig' with {
    'title': 'VS Code Extensions',
  } %}
</div>
